// Colors

// COLOR PALETTE
$white: hsl(0, 0%, 100%);
$very-dark-blue: hsl(200, 15%, 8%);
$very-light-gray: hsl(0, 0%, 98%);
$clr1: #61210f;
$clr2: #ea2b1f;
$clr3: #edae49;
$clr4: #f9df74;
$clr5: #f9edcc;

//  Primary

$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

// Neutral

$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

$darken: #1918186b;

// LAYOUT
$layoutPadding: 50px;

// LAYOUT BREAKPOINTS
$break-small-mobile: 500px;
$break-wide-mobile: 650px;
$break-narrow: 1100px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
